
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



body {
    background-image: url('/images/img_bg2.png');
    background-size: auto;
    background-position-x: center;
}


#reaction_box {
    width: 100%;
    height: 800px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

    #reaction_box > p {
        height: 50px;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .bd_nm{
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        color: white;
    }
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}
.bd_nm > button{
    width: 300px;
}
#output_number {
    user-select: none;
}
footer, header {
    background-color: #18191A;

}
#btn_new, #btn_seen{
    width: 100px;
}