@{
    ViewData["Title"] = "Home Page";
}

<div class="cards">
    <div class="card" style="width: 18rem;">
        <img src="images/icon1.jpg" class="card-img-top" alt="Reaction Time!">
        <div class="card-body">
            <h5 class="card-title">Reaction time</h5>
            <p class="card-text">Test speed of our reaction!</p>
            <a asp-area="" asp-controller="Home" asp-action="ReactionTime" class="btn btn-primary">Go!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/icon1.jpg" class="card-img-top" alt="Reaction Time!">
        <div class="card-body">
            <h5 class="card-title">Number Memory</h5>
            <p class="card-text">Test your memory!</p>
            <a asp-area="" asp-controller="Home" asp-action="NumberMemory" class="btn btn-primary">Go!</a>
        </div>
    </div>
</div>
