@{
    ViewData["Title"] = "Home Page";
}

<div class="cards text-white">
    <div class="card bg-black" style="width: 18rem; height:24rem;">
        <img src="images/img_icon1.png" class="card-img-top bg-dark" alt="Reaction Time!">
        <div class="card-body bg-dark border-dark">
            <h5 class="card-title text-white">Reaction time</h5>
            <p class="card-text text-white">Test speed of our reaction!</p>
            <a asp-area="" asp-controller="Home" asp-action="ReactionTime" class="btn btn-primary">Go!</a>
        </div>
    </div>
    <div class="card bg-black" style="width: 18rem;height:24rem;">
        <img src="images/img_icon2.png" class="card-img-top bg-dark" alt="Reaction Time!">
        <div class="card-body bg-dark border-dark">
            <h5 class="card-title text-white">Number Memory</h5>
            <p class="card-text text-white">Test your number memory!</p>
            <a asp-area="" asp-controller="Home" asp-action="NumberMemory" class="btn btn-primary">Go!</a>
        </div>
    </div>
    <div class="card bg-black" style="width: 18rem;height:24rem;">
        <img src="images/img_icon3.png" class="card-img-top bg-dark" alt="Reaction Time!">
        <div class="card-body bg-dark border-dark">
            <h5 class="card-title text-white">Words Memory</h5>
            <p class="card-text text-white">Test your words memory!</p>
            <a asp-area="" asp-controller="Home" asp-action="WordsMemory" class="btn btn-primary">Go!</a>
        </div>
    </div>
</div>
